body {
  background: pink;
  font-family: 'Open Sans', sans-serif;
}

.notes {
  .outer {
    padding: 10px;
  }

  .inner {
    background: #fffa72;
    padding: 10px 20px;

    h3 {
      font-weight: 600;
    }

    p {
      min-height: 90px;
      max-height: 110px;
    }
  }

  .extras {
    min-height: 25px;
    max-height: 25px;
  }

  .tag {
    margin-right: 2px;
    border-radius: 3px;
    font-size: .8em;
  }

  .url {
    background: transparent;
    font-size: 1.1em;
    padding: 0;
    padding-right: 5px;
    a {
      color: #333;
    }
  }
}
